@model CarOwnerViewModel

@{
    ViewData["Title"] = "PartialCarOwner";
}

<h2>Owners of car (Id : @Model.Car.Id) </h2>

<div>
    <p> Amount: @Model.Owners.Count() </p>
    @foreach (var ow in Model.Owners)
    {
        <div>
            <p>
                Owner name : @ow.Name, id : @ow.Id
            </p>
        </div>
    }
</div>

